<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defence_1_8 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,146},{114,94}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,67},{114,94}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{100,108}}</string>
                <key>offset</key>
                <string>{11,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,53},{100,108}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,318},{94,112}}</string>
                <key>offset</key>
                <string>{7,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,49},{94,112}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{82,114}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,47},{82,114}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,246},{70,116}}</string>
                <key>offset</key>
                <string>{-2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,45},{70,116}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{70,118}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,43},{70,118}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,74},{70,110}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,81},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{70,110}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,80},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{226,504},{82,108}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,80},{82,108}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{94,104}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,81},{94,104}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{220,588},{100,100}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{100,100}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{240,302},{112,96}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{112,96}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,506},{102,98}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{102,98}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,412},{108,92}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,84},{108,92}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{354,324},{112,86}}</string>
                <key>offset</key>
                <string>{-21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,84},{112,86}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{122,76}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,86},{122,76}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,78},{126,74}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,87},{126,74}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{130,74}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{130,74}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{130,74}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{130,74}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,72}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,89},{132,72}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{130,72}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,89},{130,72}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,76},{126,80}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{126,80}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{232,400},{108,102}}</string>
                <key>offset</key>
                <string>{-17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{108,102}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,154},{120,90}}</string>
                <key>offset</key>
                <string>{-22,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{120,90}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,414},{102,108}}</string>
                <key>offset</key>
                <string>{-12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,53},{102,108}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{92,112}}</string>
                <key>offset</key>
                <string>{-7,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{92,112}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,242},{80,114}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,47},{80,114}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,230},{70,116}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,45},{70,116}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{70,116}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,45},{70,116}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_8 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,518},{102,106}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,55},{102,106}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defence_1_8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35058d58d701c5e8e127071c96e70ce:1/1$</string>
            <key>textureFileName</key>
            <string>effect_defence_1_8.png</string>
        </dict>
    </dict>
</plist>
