<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defence_1_10 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{70,110}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,81},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{128,68}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,87},{128,68}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{130,68}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{130,68}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,68}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,87},{132,68}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,66}}</string>
                <key>offset</key>
                <string>{-24,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,89},{132,66}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{136,70},{130,64}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,91},{130,64}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,72},{126,74}}</string>
                <key>offset</key>
                <string>{-23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{126,74}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{120,82}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,73},{120,82}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,100},{114,88}}</string>
                <key>offset</key>
                <string>{-21,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{114,88}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,148},{112,90}}</string>
                <key>offset</key>
                <string>{-20,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{112,90}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{108,96}}</string>
                <key>offset</key>
                <string>{-17,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{108,96}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,302},{70,110}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,81},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{102,100}}</string>
                <key>offset</key>
                <string>{-12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,55},{102,100}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,374},{92,106}}</string>
                <key>offset</key>
                <string>{-7,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{92,106}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{226,312},{80,108}}</string>
                <key>offset</key>
                <string>{-2,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,47},{80,108}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{238,240},{70,110}}</string>
                <key>offset</key>
                <string>{2,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,45},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,190},{70,110}}</string>
                <key>offset</key>
                <string>{2,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,45},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,490},{102,98}}</string>
                <key>offset</key>
                <string>{12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,56},{102,98}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{100,100}}</string>
                <key>offset</key>
                <string>{11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,54},{100,100}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{110,468},{94,104}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,50},{94,104}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{336,356},{82,106}}</string>
                <key>offset</key>
                <string>{2,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,48},{82,106}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{70,110}}</string>
                <key>offset</key>
                <string>{-2,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,45},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{82,106}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,82},{82,106}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{70,110}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,45},{70,110}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{222,394},{94,104}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,81},{94,104}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,564},{100,100}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{100,100}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,440},{102,98}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,83},{102,98}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,262},{108,92}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,84},{108,92}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,214},{112,86}}</string>
                <key>offset</key>
                <string>{-21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,84},{112,86}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
            <key>effect_defence_1_10 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{132,136},{122,76}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,86},{122,76}}</string>
                <key>sourceSize</key>
                <string>{270,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defence_1_10.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a63d937597bed82a7da4203d5a76f9:1/1$</string>
            <key>textureFileName</key>
            <string>effect_defence_1_10.png</string>
        </dict>
    </dict>
</plist>
