<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defence_1_2 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{60,75}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{60,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,66},{84,65}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{84,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,63}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{86,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,133},{84,63}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{84,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,126},{84,63}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{84,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,63}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,52},{86,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,66},{84,67}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{84,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{82,71}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{82,71}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{435,231},{80,75}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,41},{80,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{436,152},{74,77}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{74,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{72,79}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,37},{72,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{83,267},{62,75}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,40},{62,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,198},{70,79}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,36},{70,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,191},{66,83}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,32},{66,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,131},{60,83}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{60,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,67},{62,83}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,32},{62,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{62,85}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{62,85}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{85,193},{72,79}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{72,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{68,81}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,34},{68,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{64,83}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,32},{64,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,64},{60,85}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{60,85}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{62,85}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{62,85}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{335,259},{62,73}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,42},{62,73}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{60,85}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{60,85}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{439,86},{64,71}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,43},{64,71}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{79,331},{68,69}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{68,69}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,271},{72,67}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{72,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,270},{72,67}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{72,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,202},{78,67}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,47},{78,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_2 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{172,135},{80,65}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{80,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defence_1_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe6c08f110f5c875c9734d253331423b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_defence_1_2.png</string>
        </dict>
    </dict>
</plist>
