<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defence_1_4 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{422,290},{62,77}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{62,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{88,65}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{88,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,63}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{90,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,63}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{90,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{368,69},{88,61}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{88,61}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,63}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{90,63}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{88,69}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{88,69}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{86,75}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{86,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,196},{80,75}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{80,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{80,77}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{80,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{87,262},{76,81}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,25},{76,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{343,273},{62,77}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{62,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{176,199},{70,83}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{70,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{66,87}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,19},{66,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,131},{62,87}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,19},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{447,132},{62,87}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{358,132},{62,87}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,19},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{72,83}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{72,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{267,137},{70,83}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{70,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,131},{66,85}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,21},{66,85}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{269,73},{62,87}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,19},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,67},{62,87}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,19},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,271},{62,75}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,31},{62,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,67},{62,87}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,18},{62,87}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{247,276},{66,73}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{66,73}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{84,340},{70,69}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{70,69}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,335},{72,69}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{72,69}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{434,221},{76,67}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{76,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{261,209},{80,65}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{80,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_4 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,195},{84,65}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{84,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defence_1_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950bb9c61004621739686ea967b24b51:1/1$</string>
            <key>textureFileName</key>
            <string>effect_defence_1_4.png</string>
        </dict>
    </dict>
</plist>
