<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defence_1_5 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{260,175},{54,83}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,28},{54,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,61},{92,59}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{92,59}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,59}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{94,59}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,57}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{94,57}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,59}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{94,59}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,59}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{94,59}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,65}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{94,65}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,63},{90,69}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{90,69}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,63},{84,71}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{84,71}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{175,192},{82,73}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{82,73}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{259,231},{78,77}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{78,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{54,81}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,29},{54,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{68,79}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{68,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,194},{62,81}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{62,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,134},{58,83}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,18},{58,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{361,122},{54,83}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{54,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{175,136},{54,83}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{54,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{339,238},{72,77}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,24},{72,77}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{85,258},{68,79}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,22},{68,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{64,81}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{64,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{58,81}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,20},{58,81}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,119},{54,83}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{54,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{345,178},{58,79}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{58,79}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,63},{54,83}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{54,83}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,267},{64,75}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{64,75}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{83,328},{68,73}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,33},{68,73}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{70,71}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{70,71}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{426,205},{78,67}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{78,67}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{86,61}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{86,61}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
            <key>effect_defence_1_5 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{90,61}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{90,61}}</string>
                <key>sourceSize</key>
                <string>{172,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defence_1_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ad94dd1cb1fc182bbc24f72ac180e4:1/1$</string>
            <key>textureFileName</key>
            <string>effect_defence_1_5.png</string>
        </dict>
    </dict>
</plist>
