<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Bang hoi/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{145,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{145,44}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>res/Art/Bang hoi/CUP 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,29}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>res/Art/Bang hoi/DOM SANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,795},{124,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,117}}</string>
                <key>sourceSize</key>
                <string>{128,119}</string>
            </dict>
            <key>res/Art/Bang hoi/NEN NHO _BANG HOI CUA TOI.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,320},{686,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,112}}</string>
                <key>sourceSize</key>
                <string>{686,112}</string>
            </dict>
            <key>res/Art/Bang hoi/POPUP_0000_Group-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,271},{150,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,47}}</string>
                <key>sourceSize</key>
                <string>{150,47}</string>
            </dict>
            <key>res/Art/Bang hoi/POPUP_0004_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{188,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,238}}</string>
                <key>sourceSize</key>
                <string>{188,238}</string>
            </dict>
            <key>res/Art/Bang hoi/Untitled-1-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,997},{16,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{16,14}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>res/Art/Bang hoi/Untitled-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,997},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>res/Art/Bang hoi/Untitled-1.pngsdva.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,997},{16,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{16,14}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>res/Art/Bang hoi/button _ tra thu.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,517},{105,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,39}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>res/Art/Bang hoi/button _xem lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,199},{105,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,39}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>res/Art/Bang hoi/co 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,880},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>res/Art/Bang hoi/co 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,306},{142,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{142,58}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>res/Art/Bang hoi/cup nho.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,271},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,743},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,689},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,635},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,581},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,527},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,473},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,959},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,905},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,851},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,797},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,743},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,689},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,635},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,581},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,527},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,473},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,689},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,635},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,581},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,527},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,473},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,689},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,635},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,581},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,527},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,473},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,921},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/icon bieu tuong/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>res/Art/Bang hoi/ke doc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,199},{2,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,44}}</string>
                <key>sourceSize</key>
                <string>{2,44}</string>
            </dict>
            <key>res/Art/Bang hoi/nen 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{735,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{735,469}}</string>
                <key>sourceSize</key>
                <string>{739,475}</string>
            </dict>
            <key>res/Art/Bang hoi/nen trong.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,450},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>res/Art/Bang hoi/next 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,921},{68,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,39}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>res/Art/Bang hoi/next 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,921},{68,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,39}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>res/Art/Bang hoi/o duoi 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{195,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,42}}</string>
                <key>sourceSize</key>
                <string>{195,42}</string>
            </dict>
            <key>res/Art/Bang hoi/o duoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,320},{195,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,44}}</string>
                <key>sourceSize</key>
                <string>{195,44}</string>
            </dict>
            <key>res/Art/Bang hoi/q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,245},{200,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,1}}</string>
                <key>sourceSize</key>
                <string>{200,1}</string>
            </dict>
            <key>res/Art/Bang hoi/sao nho.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,271},{29,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>res/Art/Bang hoi/slost _button.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,192},{238,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{238,38}}</string>
                <key>sourceSize</key>
                <string>{242,42}</string>
            </dict>
            <key>res/Art/Bang hoi/slost button.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,232},{230,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,37}}</string>
                <key>sourceSize</key>
                <string>{234,41}</string>
            </dict>
            <key>res/Art/Bang hoi/slost nen 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{320,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,51}}</string>
                <key>sourceSize</key>
                <string>{320,51}</string>
            </dict>
            <key>res/Art/Bang hoi/slost nen 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,558},{320,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,95}}</string>
                <key>sourceSize</key>
                <string>{320,95}</string>
            </dict>
            <key>res/Art/Bang hoi/slost.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,306},{689,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{689,54}}</string>
                <key>sourceSize</key>
                <string>{693,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BangHoi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9371e433e751a759b0ed13204f6888e4:1/1$</string>
            <key>textureFileName</key>
            <string>BangHoi.png</string>
        </dict>
    </dict>
</plist>
