<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/townhall/TOW_1_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{220,210}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,23},{220,210}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,240}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{220,240}}</string>
                <key>sourceSize</key>
                <string>{406,406}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,234},{228,222}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,10},{228,222}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,480},{228,224}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,9},{228,224}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{214,210}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,22},{214,210}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{230,220}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,12},{230,220}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,244},{234,220}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,12},{234,220}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{230,224}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,3},{230,224}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{220,236}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,43},{220,236}}</string>
                <key>sourceSize</key>
                <string>{406,406}</string>
            </dict>
            <key>res/Art/Buildings/townhall/TOW_1_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{216,240}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,31},{216,240}}</string>
                <key>sourceSize</key>
                <string>{406,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_tow_hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:929a564b8769d70a044c83c9f8a13655:1/1$</string>
            <key>textureFileName</key>
            <string>building_tow_hall.png</string>
        </dict>
    </dict>
</plist>
