<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/obstacle/OBS_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,496},{101,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,52},{101,62}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_10/OBS_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{157,116}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{157,116}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,548},{59,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,53},{59,54}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,442},{57,44}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,59},{57,44}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_12/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{85,74}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,42},{85,74}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_13/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{95,104}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,23},{95,104}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_14/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,280},{143,120}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,97},{143,120}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_15/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,402},{38,48}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{38,48}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_16/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,393},{79,98}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{79,98}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_17/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{103,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{103,98}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_18/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,643},{91,72}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,49},{91,72}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_19/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,560},{91,82}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,44},{91,82}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{85,94}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,25},{85,94}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_20/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{137,110}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,99},{137,110}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_21/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,476},{103,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{103,70}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_22/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,493},{101,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,56},{101,62}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_23/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,557},{85,94}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,24},{85,94}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_24/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,402},{119,92}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{119,92}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_25/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,194}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,34},{153,194}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_26/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{143,168}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,26},{143,168}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_27/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{125,164}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,43},{125,164}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,302},{79,124}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,11},{79,124}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,548},{93,94}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,34},{93,94}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,402},{119,92}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,28},{119,92}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,383},{91,122}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,3},{91,122}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,114},{125,164}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,55},{125,164}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,147},{153,166}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,52},{153,166}}</string>
                <key>sourceSize</key>
                <string>{435,322}</string>
            </dict>
            <key>res/Art/Buildings/obstacle/OBS_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,302},{89,76}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,45},{89,76}}</string>
                <key>sourceSize</key>
                <string>{235,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_obstacle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a00b57d6f18c07e2d8681a31c5d2df:1/1$</string>
            <key>textureFileName</key>
            <string>building_obstacle.png</string>
        </dict>
    </dict>
</plist>
