<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/barrack/BAR_1_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,422},{132,114}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{132,114}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,146},{154,142}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,157},{154,142}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,144}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,156},{154,144}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_12/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,144}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,156},{156,144}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{136,116}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,176},{136,116}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,418},{136,116}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,175},{136,116}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,290},{142,130}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,161},{142,130}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{142,130}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,161},{142,130}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,286},{142,130}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,161},{142,130}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,148},{152,136}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,163},{152,136}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{152,150}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,149},{152,150}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>res/Art/Buildings/barrack/BAR_1_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{154,142}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,157},{154,142}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Building.Barrack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4187ecec2e47466d8173189269c8ff08:1/1$</string>
            <key>textureFileName</key>
            <string>Building.Barrack.png</string>
        </dict>
    </dict>
</plist>
