<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,270},{96,128}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,48},{96,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{138,160}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,21},{138,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,160}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,288},{96,128}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,48},{96,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,164},{104,130}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{104,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,368},{102,126}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,52},{102,126}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,386},{104,126}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,51},{104,126}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{120,150}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,36},{120,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{122,148}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,38},{122,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{152,182}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,16},{152,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>res/Art/Buildings/elixirCollector/RES_2_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,182}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{156,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_elixir_collector.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bbecc3e97fdfd6949d31c17dedf61fb:1/1$</string>
            <key>textureFileName</key>
            <string>building_elixir_collector.png</string>
        </dict>
    </dict>
</plist>
