<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_0/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{156,126}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,31},{156,126}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,318},{148,150}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{148,150}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,158}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{148,156}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,1},{148,156}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,154}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,2},{146,154}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,162},{146,154}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,2},{146,154}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>res/Art/Buildings/clan_castle/CLC_1_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,320},{148,154}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,2},{148,154}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_clan_castle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd8667a67cfe68a95f77bbc88baf6b55:1/1$</string>
            <key>textureFileName</key>
            <string>building_clan_castle.png</string>
        </dict>
    </dict>
</plist>
