<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/defense_base/DEF_1_10_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{190,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,138}}</string>
                <key>sourceSize</key>
                <string>{192,140}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_11_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,152},{190,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_12_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{186,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,147}}</string>
                <key>sourceSize</key>
                <string>{186,147}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_1_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{112,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_2_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{101,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,89}}</string>
                <key>sourceSize</key>
                <string>{101,89}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_3_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,692},{126,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,119}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_4_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{132,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{134,126}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_5_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,454},{148,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{148,137}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_6_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,575},{147,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,115}}</string>
                <key>sourceSize</key>
                <string>{147,115}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_7_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,301},{180,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,147}}</string>
                <key>sourceSize</key>
                <string>{180,147}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_8_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,148}}</string>
                <key>sourceSize</key>
                <string>{192,148}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_1_9_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{192,150}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_1_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{115,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{115,145}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_2_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{107,149}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{107,149}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_3_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,450},{123,151}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{123,151}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_4_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{123,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_5_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,136},{123,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_2_6_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{125,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,157}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>res/Art/Buildings/defense_base/DEF_4_1_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,591},{106,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{106,143}}</string>
                <key>sourceSize</key>
                <string>{134,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_defence_base.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef598ac92e777e91108b974a2b183cf:1/1$</string>
            <key>textureFileName</key>
            <string>building_defence_base.png</string>
        </dict>
    </dict>
</plist>
