<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,118},{114,136}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,165},{114,136}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{114,136}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,165},{114,136}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{140,146}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,164},{140,146}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{154,164}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,151},{154,164}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{154,164}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,151},{154,164}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>res/Art/Buildings/darkElixirCollector/RES_3_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,151},{154,164}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_dark_elixir_collector.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85d92523cdbde08f0c6c5ef2f27e1f1d:1/1$</string>
            <key>textureFileName</key>
            <string>building_dark_elixir_collector.png</string>
        </dict>
    </dict>
</plist>
