<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,202},{98,106}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,79},{98,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_1/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,102},{98,106}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,79},{98,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_1/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{98,106}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,79},{98,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_1/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,918},{98,106}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,79},{98,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,792},{134,148}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_10/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,642},{134,148}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_10/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{134,148}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_10/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{134,148}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{144,158}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,47},{144,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_11/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{144,158}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,47},{144,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_11/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{144,158}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,47},{144,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_11/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,158}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,47},{144,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,266},{86,110}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,68},{86,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_2/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,178},{86,110}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,68},{86,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_2/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,90},{86,110}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,68},{86,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_2/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{86,110}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,68},{86,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{92,126}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,60},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_3/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,138},{92,126}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,60},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_3/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,412},{92,126}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,60},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_3/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,284},{92,126}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,60},{92,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{92,124}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{92,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_4/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,666},{92,124}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{92,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_4/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,818},{92,124}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{92,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_4/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,818},{92,124}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{92,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,540},{94,124}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_5/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,692},{94,124}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_5/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,818},{94,124}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_5/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,692},{94,124}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,62},{94,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,556},{112,134}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{112,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_6/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,420},{112,134}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{112,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_6/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,284},{112,134}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{112,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_6/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{112,134}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{112,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,144},{118,138}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{118,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_7/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,424},{118,138}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{118,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_7/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,284},{118,138}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{118,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_7/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,144},{118,138}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{118,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,60},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_8/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,854},{136,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,60},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_8/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,712},{136,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,60},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_8/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,570},{136,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,60},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,428},{136,140}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_9/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,286},{136,140}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_9/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,144},{136,140}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>res/Art/Buildings/elixirStorage/STO_2_9/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,140}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_elixir_storage.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9494ca4ce5a3d0f5191829a7d9d7c8a2:1/1$</string>
            <key>textureFileName</key>
            <string>building_elixir_storage.png</string>
        </dict>
    </dict>
</plist>
