<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/goldStorage/STO_1_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,432},{114,92}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,135},{114,92}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_1/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,118},{114,92}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,135},{114,92}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_1/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{114,92}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,135},{114,92}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_1/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,508},{116,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,135},{116,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_10/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_10/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_10/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_11/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_11/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_11/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,164}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{142,164}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,432},{116,112}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,115},{116,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_2/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,656},{116,112}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,115},{116,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_2/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,538},{116,112}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,115},{116,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_2/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,290},{116,132}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,115},{116,132}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,622},{112,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,118},{112,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_3/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,660},{112,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,118},{112,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_3/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,622},{112,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,118},{112,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_3/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,546},{112,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,118},{112,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,670},{130,128}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{130,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_4/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,538},{130,128}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{130,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_4/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,378},{130,128}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,106},{130,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_4/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,408},{130,128}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,106},{130,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,290},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_5/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,290},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_5/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,810},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_5/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,666},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,522},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_6/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,378},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_6/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,816},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_6/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,816},{140,142}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,103},{140,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,670},{142,144}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,103},{142,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_7/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,524},{142,144}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,103},{142,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_7/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,378},{142,144}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,103},{142,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_7/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,234},{142,144}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,103},{142,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,146},{144,142}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,104},{144,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_8/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,146},{144,142}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,104},{144,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_8/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,146},{144,142}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,104},{144,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_8/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,146},{144,142}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,104},{144,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{142,146}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,94},{142,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_9/idle/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{142,146}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,94},{142,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_9/idle/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{142,146}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,94},{142,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>res/Art/Buildings/goldStorage/STO_1_9/idle/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{142,146}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,94},{142,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_gold_storage.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8e6826885cdcc1e6261826c1c5dc9d8:1/1$</string>
            <key>textureFileName</key>
            <string>building_gold_storage.png</string>
        </dict>
    </dict>
</plist>
