<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Buildings/goldMine/RES_1_1/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,392},{126,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{126,106}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_10/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{174,148}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{174,148}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_11/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,148}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{174,148}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_2/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,392},{126,106}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,106}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_3/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{126,98}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{126,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_4/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,288},{130,102}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{130,102}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_5/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,178},{132,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{132,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_6/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{162,118}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,49},{162,118}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_7/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{166,134}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{166,134}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_8/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,152},{174,144}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{174,144}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>res/Art/Buildings/goldMine/RES_1_9/idle/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,150}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{174,150}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_gold_mine.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43d6e4610a0737a39d8dcb0c23ce35d:1/1$</string>
            <key>textureFileName</key>
            <string>building_gold_mine.png</string>
        </dict>
    </dict>
</plist>
