<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/LoginGui/g_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>res/Art/LoginGui/loading.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>res/Art/LoginGui/logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,804},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>res/Art/LoginGui/okbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>log_in_gui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f671c1ef0e9883ac9070a40e04bfa338:1/1$</string>
            <key>textureFileName</key>
            <string>log_in_gui.png</string>
        </dict>
    </dict>
</plist>
