<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Art/Map/map_obj_bg/1x1_bong.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,636},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/GREEN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,716},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/GREEN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,735},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/GREEN_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,563},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/GREEN_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,553},{152,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,112}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/GREEN_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{190,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,138}}</string>
                <key>sourceSize</key>
                <string>{190,138}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/RED_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,686},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/RED_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,726},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/RED_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,475},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/RED_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{152,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,112}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/RED_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{190,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,138}}</string>
                <key>sourceSize</key>
                <string>{190,138}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,737},{74,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{140,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{140,100}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{194,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{194,145}}</string>
                <key>sourceSize</key>
                <string>{228,171}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,149},{258,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{258,192}}</string>
                <key>sourceSize</key>
                <string>{304,228}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,229}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{306,229}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,737},{74,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{140,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{140,100}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{194,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{194,145}}</string>
                <key>sourceSize</key>
                <string>{228,171}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,149},{258,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{258,192}}</string>
                <key>sourceSize</key>
                <string>{304,228}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG/arrowmove_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,229}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{306,229}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG_0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,597},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG_0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,667},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG_0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,387},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG_0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,233},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/BG_0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,409},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_0_2_OBS.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,785},{72,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_0_3_OBS.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,651},{106,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{106,82}}</string>
                <key>sourceSize</key>
                <string>{114,84}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_2_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,699},{60,47}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,47}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_3_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,667},{88,68}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{88,68}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_4_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{124,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{124,96}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/GRASS_5_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,639},{58,44}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{58,44}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/big_shadow_troop.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,513},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/small_shadow_troop.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,572},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>res/Art/Map/map_obj_bg/upgrading.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,553},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_obj_bg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f2e43fdff98113273c1f4806f7e1e7:1/1$</string>
            <key>textureFileName</key>
            <string>map_obj_bg.png</string>
        </dict>
    </dict>
</plist>
